aiohttp==3.8.3
aiosignal==1.3.1
altair==4.2.2
anyio==3.6.2
appdirs==1.4.4
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
Babel==2.11.0
backcall==0.2.0
Backtesting==0.3.3
backtrader==1.9.76.123
base58==2.1.1
bcrypt==3.2.2
Beaker==1.10.0
beautifulsoup4==4.11.2
bitarray==2.6.2
black==22.12.0
bleach==6.0.0
blinker==1.5
blivet==3.5.0
blivet-gui==2.4.0
bokeh==2.4.3
boto3==1.26.64
botocore==1.29.64
Brlapi==0.8.4
cached-property==1.5.2
cachetools==5.2.1
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.2
confuse==2.0.0
contourpy==1.0.7
cryptography==37.0.2
cupshelpers==1.0
cycler==0.11.0
Cython==0.29.33
cytoolz==0.12.1
dasbus==1.6
dbus-python==1.3.2
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
discord==2.1.0
discord.py==2.1.0
distlib==0.3.6
distro==1.7.0
docker==5.0.3
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
eth-abi==2.2.0
eth-hash==0.5.1
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
executing==1.2.0
fastjsonschema==2.16.2
fb-re2==1.0.7
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.9.0
Flask==2.2.2
fonttools==4.38.0
fqdn==1.5.1
fros==1.1
frozendict==2.3.5
frozenlist==1.3.3
gitdb==4.0.10
GitPython==3.1.30
google-api-core==2.11.0
google-api-python-client==2.73.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
googleapis-common-protos==1.58.0
gpg==1.17.0
greenlet==2.0.2
h11==0.14.0
hexbytes==0.3.0
html5lib==1.1
httplib2==0.21.0
humanfriendly==10.0
humanize==3.13.1
idna==3.4
importlib-metadata==6.0.0
ipykernel==6.20.2
ipython==8.9.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupynium @ file:///home/kailorston/.local/share/nvim/site/pack/packer/start/jupynium.nvim
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.6.3
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyter_server==2.2.1
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
kaggle==1.5.12
kiwisolver==1.4.4
langtable==0.0.61
libcomps==0.1.18
lxml==4.9.1
Mako==1.1.4
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib==3.6.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mercurial==6.2.3
mistune==2.0.4
MouseInfo==0.1.3
mpl-finance==0.10.1
mplfinance==0.12.9b7
mpmath==1.2.1
msgpack==1.0.4
multiaddr==0.0.9
multidict==6.0.4
multitasking==0.0.11
mypy-extensions==0.4.3
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
netaddr==0.8.0
nftables==0.1
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.24.1
oauthlib==3.2.2
olefile==0.46
opencv-python==4.7.0.68
openpyxl==3.0.10
outcome==1.2.0
packaging==23.0
pandas==1.5.3
pandas-datareader==0.10.0
pandoc==2.3
pandocfilters==1.5.0
paramiko==2.12.0
parsimonious==0.8.1
parso==0.8.3
Paste==3.5.0
pathspec==0.10.3
patsy==0.5.3
persist-queue==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
pid==2.2.3
Pillow==9.2.0
pipx==1.1.0
platformdirs==2.6.2
plotly==5.13.0
plumbum==1.8.1
ply==3.11
polars==0.16.6
productmd==1.33
prometheus-client==0.16.0
prompt-toolkit==3.0.36
protobuf==3.19.5
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.5
py-solc-x==1.1.1
pyactiveresource==2.2.2
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycairo==1.21.0
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.16.0
pycups==2.0.1
pycurl==7.45.1
pydeck==0.8.0
pyenchant==3.2.2
PyGetWindow==0.0.9
Pygments==2.14.0
PyGObject==3.42.2
pygsheets==2.0.6
PyJWT==2.6.0
pykickstart==3.41
Pympler==1.0.1
PyMsgBox==1.0.9
PyNaCl==1.4.0
pynvim==0.4.3
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyparted==3.12.0
pyperclip==1.8.2
PyQt5==5.15.6
PyQt5-sip==12.11.0
PyRect==0.2.0
pyrsistent==0.19.3
PyScreeze==0.1.28
PySocks==1.7.1
python-amazon-sp-api==0.18.0
python-augeas==1.1.0
python-dateutil==2.8.2
python-dotenv==0.21.1
python-json-logger==2.0.4
python-meh==0.50
python-slugify==8.0.0
python-xlib==0.33
python3-xlib==0.15
pytweening==1.0.4
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pyudev==0.23.2
pyxdg==0.27
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
regex==2022.10.31
requests==2.28.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-futures==1.0.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.1
rlp==2.0.1
rpm==4.18.0
rsa==4.9
s3transfer==0.6.0
scikit-learn==1.2.1
scipy==1.10.0
seaborn==0.12.2
selenium==4.8.0
selinux==3.4
semantic-version==2.10.0
semver==2.13.0
Send2Trash==1.8.0
sepolicy==3.4
setools==4.4.0
ShopifyAPI==12.2.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sklearn==0.0.post1
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
sos==4.4
soupsieve==2.3.2.post1
stack-data==0.6.2
statsmodels==0.13.5
stem==1.8.1
streamlit==1.17.0
sympy==1.11.1
systemd-python==235
TA-Lib==0.4.25
Tempita==0.5.2
tenacity==8.1.0
terminado==0.17.1
text-unidecode==1.3
texttable==1.6.4
threadpoolctl==3.1.0
tinycss2==1.2.1
tk==0.1.0
tkcalendar==1.6.1
toml==0.10.2
toolz==0.12.0
torbrowser-launcher==0.3.6
tornado==6.2
torrequest==0.1.0
tqdm==4.64.1
traitlets==5.9.0
trio==0.22.0
trio-websocket==0.9.2
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.14
userpath==1.8.0
validators==0.20.0
varint==1.0.2
verboselogs==1.7
virtualenv==20.19.0
watchdog==2.2.1
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.0
websockets==9.1
Werkzeug==2.2.2
widgetsnbextension==4.0.5
wsproto==1.2.0
xyzservices==2022.9.0
yarl==1.8.2
yfinance==0.2.12
zipp==3.12.1
